div
    .formRow
        .configTitle.translate Room Id
        input.configWidgetName(id="roomId", type="text", ng-model="widget.settings.roomId")
    .formRow
        .configTitle.translate User Token
        input.configWidgetName(id="userToken", type="text", ng-model="widget.settings.userToken")