.campfireWidgetSmall{
    height:100%;
    position:relative;
    .row{
       height:20px;
       line-height:20px; 
    }
    .inputContainer{
        position:absolute;
        bottom:10px;
        width:100%;
    }

    .userName, .messageBody{
        font-size:10px;
    }
    .even {
        background-color: @greyBlue5;
    }
    .messagesContainer{
        height:80%;

    }
}